.js-name,
.pencil,
.greetings {
    display : none;
}

.greetings-set{
	text-align: center;
}

.nameInput{
	font-size: 25px;
	width: 130px;
	padding: 7px 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.nameInput::placeholder{
	text-align: center;
}

.nameButton{
	border: 0;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	background-color: #618CD1;
	padding: 0;
	color: white;
	cursor: pointer;
    position: relative;
    bottom: 4px;
}

.nameButton:hover {
    background-color: #577fbf;
}

.greetings{
	margin: 0 0 20px 0;
	font-size: 25px;
	position: relative;
	right: 5px;
}

.pencil{
	width: 25px;
	height: 25px;
	position: relative;
	left: 5px;
}


.showing {
    display : block;
}

.inline_showing {
    display : inline-block;
}
